@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** 
* Custom SCSS
*/
@font-face {
  font-family: "BebasNeue Bold";
  src: url("./fonts/BebasNeue Bold.otf"); }
@font-face {
  font-family: "BebasNeue Light";
  src: url("./fonts/BebasNeue Light.otf"); }
@font-face {
  font-family: "BebasNeue Regular";
  src: url("./fonts/BebasNeue Regular.otf"); }
html {
  font-size: 15px; }

.container {
  width: 90%;
  margin: 0 auto;
  height: inherit; }

.flex-row {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.flex-row.centered {
  align-items: center;
  justify-content: center; }

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; }

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #ccc;
  font-size: 1rem;
  line-height: 1.618rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  word-spacing: 2px;
  cursor: pointer; }

.btn.btn-primary {
  border: 1px solid orange;
  background-color: orange;
  color: #fff; }

.btn.btn-small {
  padding: 0.6rem 1.5rem;
  font-size: 14px;
  line-height: 22.652px; }

.LoginPage {
  height: 100vh;
  background-color: #f3f5f7; }

.LoginPageForm {
  border: 1px solid #fff;
  background-color: #fff;
  flex-basis: 400px;
  padding: 1rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.125); }

.LoginPageForm__Logo {
  height: 150px;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem; }
  .LoginPageForm__Logo h1 {
    font-family: "BebasNeue Regular";
    font-size: 56px;
    line-height: 90.608px;
    text-align: center; }

.SideBar {
  flex-basis: 200px;
  height: 100vh;
  box-shadow: 1px 0px 10px 0 rgba(0, 0, 0, 0.125); }

.SideBar__Logo h1 {
  font-family: "BebasNeue Regular";
  font-size: 42px;
  line-height: 67.956px;
  text-align: center;
  padding: 1rem; }

.SideBar__Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3rem; }
  .SideBar__Profile img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 1.75rem; }
  .SideBar__Profile button {
    position: absolute;
    top: 52px;
    right: 65px;
    margin: 0;
    padding: 0.25rem;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: white;
    color: #aaa;
    box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.125);
    cursor: pointer; }
    .SideBar__Profile button:hover {
      color: orange; }
  .SideBar__Profile p {
    font-family: "Roboto Condensed", sans-serif;
    color: #aaa;
    text-transform: uppercase;
    word-spacing: 2px;
    font-size: 13px;
    line-height: 21.034px; }

.SideBar__Links {
  margin: 3rem 0;
  color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

.SideBar__Link {
  width: 100%; }
  .SideBar__Link a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color: #aaa;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-size: 13px;
    line-height: 21.034px;
    border-left: 3px solid transparent;
    text-decoration: none; }
    .SideBar__Link a:hover {
      color: orange;
      border-left: 3px solid orange; }
  .SideBar__Link svg {
    margin-right: 0.5rem; }
  .SideBar__Link.active a {
    color: orange;
    border-left: 3px solid orange; }

.SideBar__Footer {
  margin: 3rem 0 0 0;
  padding: 1rem 1.5rem;
  color: #aaa; }
  .SideBar__Footer hr {
    width: 20%;
    border-color: #aaa;
    margin: 1rem 0; }
  .SideBar__Footer p {
    font-size: 13px;
    line-height: 21.034px;
    font-family: "Roboto Condensed", sans-serif;
    color: #aaa; }
  .SideBar__Footer .SideBar__Footer-Text {
    color: #aaa; }

.DashboardPage {
  min-height: 100vh;
  max-height: auto;
  overflow-y: auto;
  flex-basis: calc(100% - 200px);
  padding: 1rem; }

.OptionsBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .OptionsBar button {
    margin: 0 1.5rem; }

.Summary {
  padding: 0 1.5rem; }
  .Summary h2 {
    color: #aaa;
    font-size: 48px;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif; }
    .Summary h2 span {
      margin: 0 1rem;
      font-family: "Roboto Mono", monospace;
      font-size: 20px; }

.SearchBar {
  flex-basis: 400px;
  padding: 0 1.5rem; }

.SearchBar__Container {
  position: relative;
  border: 1px solid transparent;
  width: 400px; }
  .SearchBar__Container svg {
    position: absolute;
    left: 0;
    top: 12.944px;
    margin: 0;
    margin-right: 1rem;
    margin-left: 0.25rem;
    color: #aaa; }

.SearchBar__Input {
  box-sizing: border-box;
  display: block;
  line-height: 22.652px;
  font-size: 14px;
  padding: 0.5rem 2.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  border: 1px solid transparent;
  color: #aaa;
  width: 400px;
  font-family: "Roboto Mono", monospace;
  transition: all 200ms ease-in-out; }
  .SearchBar__Input:focus {
    outline: none;
    border-bottom: 1px solid orange; }

/*# sourceMappingURL=index.css.map */
