.Summary {
  padding: 0;
  padding-right: $sp-2;
  h2 {
    color: $grey-dark;
    font-size: $header-2;
    margin: 0;
    font-family: $roboto;
    letter-spacing: 0px;
    span {
      margin: 0 $sp-1;
      font-family: $roboto;
      font-size: 20px;
    }
  }
}
