.Summary {
  padding: 0 1.5rem;
  h2 {
    color: #aaa;
    font-size: 48px;
    margin: 0;
    font-family: $roboto-c;
    span {
      margin: 0 1rem;
      font-family: $roboto-m;
      font-size: 20px;
    }
  }
}
