$roboto: "Roboto",
sans-serif;
$roboto-m: "Roboto Mono",
monospace;
$roboto-c: "Roboto Condensed",
sans-serif;
$bebas-b: "BebasNeue Bold";
$bebas-l: "BebasNeue Light";
$bebas: "BebasNeue Regular";