$roboto: "Roboto",
sans-serif;
$roboto-m: "Roboto Mono",
monospace;
$roboto-c: "Roboto Condensed",
sans-serif;
$bebas-b: "BebasNeue Bold";
$bebas-l: "BebasNeue Light";
$bebas: "BebasNeue Regular";
//- Spacing
$sp-1: 10px;
$sp-2: 20px;
$sp-3: 30px;
//- Font sizes
$header-1: 40px;
$header-2: 30px;
$header-3: 20px;
//- Colors
$orange: hsla(22, 85%, 47%, 1);
$grey-dark: hsla(0, 0, 0, 0.6);
$grey: hsla(0, 0, 0, 0.5);
$grey-light: hsla(0, 0, 0, 0.35);
$offwhite: hsla(0, 0, 0, 0.9);